*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #2D2F34;
}
.loading{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

section{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	min-height: 220px;
	margin: 1%;
	/* text-align: center; */
	background-color: #2D2D2D;
	box-shadow: 0 0  30px 1px #4E5F89;
}

.load{
	position: relative;
	width: 50px;
	height: 50px;
	/* background-color: gray; */
}

.load1 div{
	display: inline-block;
	width: 5px;
	height: 100%;
	background-color: white;
	animation: strechdelay 2s infinite ease-in-out;
}

.load1 .line1-2{
	animation-delay: -1.8s;
}

.load1 .line1-3{
	animation-delay: -1.6s;
}

.load1 .line1-4{
	animation-delay: -1.4s;
}

.load1 .line1-5{
	animation-delay: -1.2s;
}

@keyframes strechdelay{
	  0%,40%,100%{
	   transform:scaleY(0.4);
	  }
	  20%{
	   transform:scaleY(1);	}
}


.load2-outter{
	position: absolute;
	border: 4px solid yellow;
	border-left-color: transparent;
	border-bottom: 0;
	width: 88%;
	height: 88%;
	border-radius: 50%;
	animation:run360 1s linear infinite;
}

.load2-inner{
	position: absolute;
	top: 20%;
	left:20% ;
	border: 4px solid yellow;
	border-top-color: transparent;
	border-right: 0;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	animation: load2-inner 1s linear infinite;
}

@keyframes run360{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

@keyframes load2-inner{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}
}



.load3-star{
	position: absolute;
	top: 1px;
	left: 1px;
	font-size: 50px;
	color: #80D640;
	transform: scale(0.7);
	animation: load3-star 1s alternate infinite; 
}
.load3-circle{
	position: absolute;
	top: -14px;
	left:-14px;
	font-size: 80px;
	color: #80D640;
	transform: scale(0.7);
	animation: load3-circle 1s alternate infinite;

}
@keyframes load3-star{
	 0% {transform: scale(0) rotate(0deg);}
	 100% {transform: scale(0.7) rotate(360deg);}
}

@keyframes load3-circle{
	 0% {transform: scale(0.3) rotate(0deg);}
	 100% {transform: scale(0.7) rotate(360deg);}
}

.load4 div{ 
	position: absolute;
	width: 6px; 
	height: 6px; 
	background: white; 
	border-radius: 50%; 
	top: calc(50% - 3px); 
}
.jump1{ 
	left: 0px;
	animation: jump 0.5s linear alternate infinite; 
}
.jump2{ 
	left: 10px;
	animation: jump 0.5s 0.1s linear alternate infinite; 
}
.jump3{ 
	left: 20px;
	animation: jump 0.5s 0.2s linear alternate infinite; 
}
.jump4{ 
	left: 30px;
	animation: jump 0.5s 0.3s linear alternate infinite; 
}
.jump5{ 
	left: 40px;
	animation: jump 0.5s 0.4s linear alternate infinite; 
}

@keyframes jump{
	 0%{
		 transform: translateY(0);
	}
	 100%{
		 transform: translateY(-17px);
	}
}


.load5 div{ 
	position: absolute; 
	font-size: 80px;
	color: #F2777A;
	animation: heart-fly 1s ease alternate infinite; 
	transform: scale(0.2); }
.heart1{ 
	top: -30px; 
	left: calc(50% - 40px); 
}
.heart2{ 
	top: 0; 
	left: calc(50% - 40px); 
}
.heart3{ 
	top: calc(50% - 40px); 
	left: -30px; 
}
.heart4{ 
	top: calc(50% - 40px); 
	left: 0; 
}

@keyframes heart-fly{
	 0%{
		 top: calc(50% - 40px);
		 left: calc(50% - 40px);
	}
}


.load6 div{ 
	width: 50px;
	height: 50px;
	border: 8px double #F99157;	
	border-radius: 50%;
	animation: run360 1s linear infinite; 
}
.load6 div:before,  .load6 div:after{ 
	content: ""; 
	position: absolute; 
	width: 12px; 
	height: 12px; 
	background: #F99157; 
	border-radius: 50%; 
	bottom: 0; 
	right: 30px; 
}
.load6 div:after{ 
	left: 30px; 
	top: 0; 
}


.yuan1{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 6px groove white;
	border-radius: 50%;
	animation: run360 0.8s linear infinite;
}

.glyphicon-star-empty{
	position: absolute;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
	font-size: 30px;
	color: white;
	animation: load7-star 0.8s linear alternate infinite;
}



@keyframes load7-star{
	0%{
		transform: scale(0.7);
		color: #C3C3C3;
	}
	100%{
		transform: scale(1);
		color: white;
	}	
}

.yuan2{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 3px dashed white;
	border-radius: 50%;
	animation: run360 2s linear alternate infinite;
}

.load8-inner{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border: 3px ridge white;
	border-radius: 50%;
	animation: load8 2s linear alternate infinite;
}

@keyframes load8{
	0%{
		transform: rotate(0deg);
		border-radius: 50%;
	}
	100%{
		transform: rotate(360deg);
		border-radius: 0;
	}
}

.yuan3{
	position: absolute;
	width: 50px;
	height: 50px;
	border: 3px dashed yellow;
	border-radius: 50%;
	animation: run360 3s linear infinite;
}

.line9-1{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 2px;
	transform-origin: 0 0;
	background-color: white;
	animation: run360 60s linear infinite;
}

.line9-2{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 1px;
	background-color: white;
	transform-origin: 0 0;
	animation: run360 1s linear infinite;
}









